django==5.2
djangorestframework~=3.16.1
Markdown==3.9
django-filter==25.1
psycopg[binary]==3.2.3
psycopg2-binary==2.9.11
channels~=4.3.1
daphne==4.2.1
channels-redis==4.3.0
django-extensions==4.1
django-environ==0.12.0
djangorestframework-api-key==3.1.0
djangorestframework-simplejwt[crypto]==5.5.1
django-autoslug==1.9.9
django-cors-headers==4.9.0
django-celery-beat==2.8.1
django-celery-results==2.6.0
django-htmx==1.26.0
django-template-partials==25.2
pdfkit~=1.0.0
Pillow==11.3.0
requests~=2.32.5
celery~=5.5.3
asgiref~=3.10.0
pytz~=2025.2
pandas==2.3.3
numpy==2.3.4
gunicorn==23.0.0

# Dev
debugpy==1.8.17
ipdb==0.13.13
ruff==0.14.0
